<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.UserDAO">

	<select id="getByPhonePwd" resultType="user">
		<![CDATA[
			select id, phone, realname, reg_time from t_user where phone = #{phone} and pwd = #{pwd}
		]]>
	</select>
	 
</mapper>