<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="managerDao" class="zzz.ht.dao.impl.ManagerDaoImpl"  autowire="byName"></bean>
	<bean id="managerService" class="zzz.ht.service.impl.ManagerServiceImpl" autowire="byName" ></bean>
	<bean id="MangegerAction" class="zzz.ht.controller.MangegerAction" autowire="byName" scope="prototype"></bean>
	
</beans>