<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="buildingDao" class="com.wd.dao.imp.BuildingDaoImp"  autowire="byName"></bean>
	<bean id="buildingService" class="com.wd.service.imp.BuildingServiceImp" autowire="byName" ></bean>
	<bean id="BuildingAction" class="com.wd.controller.BuildingAction" autowire="byName" scope="prototype"></bean>
	
</beans>