<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean id="roomDao" class="com.wd.dao.imp.RoomDaoImpl"  autowire="byName"></bean>
	<bean id="roomService" class="com.wd.service.imp.RoomServiceImpl" autowire="byName" ></bean>
	<bean id="RoomAction" class="com.wd.controller.RoomAction" autowire="byName" scope="prototype"></bean>
	
</beans>